{% load static %}
<header class="header header--loggedIn">
  <div class="container">

    {% url 'home' as home_url %}
    {% if home_url %}
      <a href="{{ home_url }}" class="header__logo">
        <img src="{% static 'images/logo.svg' %}" />
        <h1>StudyBuddy</h1>
      </a>
    {% endif %}
    
    <form class="header__search" method="GET" action="{{ home_url|default:'#' }}">
      <label>
        ...
        <input name="q" placeholder="Search for posts" />
      </label>
    </form>

    ...
    
    <nav class="header__menu">
      {% if request.user.is_authenticated %}
        <div class="header__user">
          <a href="{% url 'update-user' %}">
            <div class="avatar avatar--medium active">
              <img src="{{request.user.avatar.url}}" />
            </div>
            <p>{{request.user.username}} <span>@{{request.user.username}}</span></p>
          </a>
        </div>
      {% else %}
        <a href="{% url 'login' %}">
          <img src="{% static 'images/avatar.svg' %}" />
          <p>Login</p>
        </a>
      {% endif %}
    </nav>
  </div>
</header>
